body {
  background: #2f90e5;
  color: black;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

ul {
  margin: 0;
}

.bg-map {
  background-color: #2f90e5;
}

.button {
  background-color: #2f90e5;
  color: white;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1.25rem;
  border-radius: 4px;
  transition-duration: 0.4s;
  border: 1px solid transparent;
  flex-grow:1;
}

.button:hover {
  background-color: #226aa8;
  color: white;
  text-decoration: none;
}

.button-block {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#map {
    height: 800px;  /* The height is 800 pixels */
    width: 100%;  /* The width is the width of the map page */
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.center {
  margin: auto;
  width: 80%;
  padding: 10px;
}

/* set text inside cards to black */
.card-body h1, h2, h3, h4, h5, h6 {
  color: black;
}

/* set text inside cards to black */
.card-body p {
  color: black;
}

/* add padding above map */
.top-buffer {
    margin-top:20px;
}

.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* fixes issue with autocomplete being out of position */
.pac-container {
    margin-top: -75px;
}

/* radio button css */
.radioContainer{
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size:18px;
    user-select: none;
    padding-left: 30px;
}

.radioContainer input{
    display: none;
}

.radioContainer .circle{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
}

.radioContainer:hover .circle{
    background-color: #ccc;
}

.radioContainer input:checked + .circle{
    background-color: #2f90e5;
}

.radioContainer input:checked + .circle:after{
    content: "";
    height: 10px;
    width: 10px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.margin-img{
  margin-top: 15px;
}