{% extends "map/base.html" %}
{% load static %}
{% block content %}
<div>
    <div class="row justify-content-center">
        <div class="col-auto mb-3">
            <div class="card" style="max-width: 80rem;">
                <div class="card-body">
                    <div>
                        <h1>Project Final Deliverable</h1>
                        <h3>1. Project title</h3>
                        <p>EatUp</p>
                        <h3>2. Team members</h3>
                        <ul>
                            <li>Farshad</li>
                            <li>Farhan</li>
                            <li>Kevin</li>
                            <li>Colin</li>
                        </ul>
                        <h3>3. Summary of group project, accomplishments and learning experience</h3>
                        <p>EatUp project is an interactive web application to find the nearest restaurant between two
                            people. The application provides users with two auto-fill in address bar and option to
                            choose their flavor and it automatically outputs the nearest and the best restaurant which
                            fits to their flavor. We leverage Django Web frame work in this project to develop a very
                            user-friendly application. In addition we have applied various APIs such as Yelp, Google
                            Place, and Google Geocoding to come up with the best restaurant for the users.
                            All the backend support and interactions with frontend developed using Python language.</p>
                        <ul>
                            <li>Developed an interactive web application using Django web framework</li>
                            <li>Completed Front-End using HTML</li>
                            <li>Completed Back-end using Python language</li>
                            <li>Worked with Google Place API</li>
                            <li>Worked with Geocoding API</li>
                            <li>Worked with Yelp API</li>
                        </ul>

                        <div class="row justify-content-center">
                            <img src="{% static 'images/block_diagram.png' %}" class="img-fluid" alt="block diagram"/>
                        </div>

                        <h3>4. Summary of individual accomplishments and learning experience</h3>
                        <p>Farshad:</p>
                        <p>First and foremost, I learned how to architect a software. I contribute to architecture of
                            the software such as overall block diagram of the design and how back-end and front-end
                            communicate to each other. It is crucial for architecting a software to have top level view
                            of all components such as frontend, backend and how they interact together.
                            I worked with backend APIs. Specially, I worked with google maps and google place API to
                            provide the list of restaurants nearby a given address. Later in the project, I mainly
                            concentrated on enabling communications between clients and server using HTTP requests. In
                            this project, a web page such as home page or result page are written in HTML and backend is
                            written in python. I used GET method to request data from a resource in HTML and pass it to
                            the backend file. In addition, I used dictionaries to pass the information we obtain from
                            Yelp API and pass it to HTML to show the results. In addition to technical aspects of this
                            project, working in a group provides an opportunity to enhance our soft skills. I learned
                            how to manage various tasks and manage time properly to accomplish a project. I think
                            learning about Python libraries and web APIs gave me powerful tools to design more creative
                            applications.
                        </p>
                        <p>Farhan:</p>
                        <p>I handled the Yelp API. I worked on the endpoints involving business search and business
                            review. I also worked on testing Kevin’s work with Django using my Yelp API code. I checked
                            to see if the results of the business provided the name, ratings, image urls, distance (in
                            meters), etc. I created an account for Yelp. Therefore, the API Key for Yelp API was my own
                            Authentication Key. I also worked with the business data on the Yelp API and I organized it
                            into a JSON data object. Business_data could also be used as a dictionary of lists &
                            dictionaries which Kevin and Farshad were able to integrate for their own radio buttons and
                            apps.One more thing, I worked on geocoding the distance between two locations on our
                            program. The longitude and latitude were set so they would search restaurants at a specific
                            city with precise coordinates. Therefore, users could input their location and find the
                            nearest restaurants. The code could even find specific types of food to look for using my
                            Parameters ala ‘text’: ‘[category]’
                        </p>
                        <p>Kevin:</p>
                        <p>I handled designing the front end and setting up the project in Django. At first, I was a bit
                            concerned since the front end doesn't have much to do with the class. However, Django is a
                            python-based web framework, so it was relevant. We were deciding between Flask, Django, and
                            another framework, but ultimately chose Django since it is so robust. I had no prior
                            experience with Django so I did a couple of tutorial projects before creating our EatUp
                            project in Django. We initially developed our front end and back end separately. Once our
                            backend file was ready Farshad placed it in the Django project file and set up the
                            connection using the get http request method. Once that was set up, I was able to tweak the
                            connection so that our results would show up on a separate page. This involved making a
                            minor change to our backend file so that the appropriate data was being sent to the front
                            end. I really enjoyed setting up the front end and seeing how the connection works between
                            the front and back ends because I believe it is important. This project also taught me a lot
                            about Django and I am looking forward to working on personal projects with it in the future.
                            One regret I had was not using a version control software like github. I think that would
                            have made file sharing/editing easier.
                        </p>
                        <p>Colin:</p>
                        <p>My portion focused on the google geocaching API and the usage of geographic coordinates. It
                            was my job to ensure that when a user enters two addresses, that the restaurant(s) closest
                            to both locations are identified. I also developed a visualization of data out of the Yelp
                            API.</p>

                        <p> Google Geocaching API – To find the restaurant closest to two locations I first needed to
                            get the coordinates of each address. I send each address through the API returning a
                            latitude and longitude for each.</p>

                        <p>JSON – The API returns JSON data with the latitude and longitude values. I parse the JSON to
                            extract the values.</p>

                        <p>Dictionaries, Lists and Functions - The coordinates are passed to a simple function that
                            find the average or each. The average coordinates is the center point.</p>

                        <p>Pandas and Matplotlib – I use JSON data from the Yelp API Farhan developed to create data
                            visualization for the results page.</p>

                        <p>Other libraries – pprint library improve the readability and formatting when printing JSON
                            data. I also used the plotly library to assist with visualization.</p>
                        <h3>5. Next steps</h3>
                        <p><i>What would you do next for your project (bullet list or 1 paragraph) if you had more
                            time?</i></p>
                        <Ul>
                            <li>Currently both users enter addressee on the same page. Allowing two users to enter
                                addresses from different browsers would make the app more user friendly. To do that we
                                may need to create user accounts and more.
                            </li>
                            <li>Providing directions to the restaurants for both users</li>
                            <li>Improve the project to be data driven. In other words, some of the data such as user
                                name and password can be stored and retrieved in from a database
                            </li>
                            <li>Give the users more preference options</li>
                            <li>Display a map as part of the results page so that users can visually see where midpoint
                                restaurants are.
                            </li>
                        </Ul>
                        <h3>6. In-class presentation</h3>
                        <p><i>Present and discuss your project during class when we meet next week. It should be a 15
                            minute presentation to summarize your overall project experience – all team members must
                            participate.</i></p>
                        <h3>7. Summary of individual accomplishments and learning experience</h3>
                        <p><i>Include everything for your project in the ZIP file (presentation + project.) Your
                            instructor MUST BE able to execute each project on his computer!</i></p>
                        <p>View project code on our <a href="https://github.com/QQuispe/EatUp" target="_blank">github
                            repository</a>.</p>
                        <h3>8. Summary of individual accomplishments and learning experience</h3>
                        <p><i>Each student must contribute to this report, presentation and project submission.</i></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}